<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="http://123.56.223.26:8080/" class="list-group-item">
            <button type="button" class="btn btn-block btn-danger" name="我的播客主页" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                我的博客
            </button>
        </a>
        <a href="https://github.com/chuanfanyoudong" class="list-group-item">
            <button type="button" class="btn btn-block btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                我的GITHUB
            </button>
        </a>
        <a href="/split/split_demo" class="list-group-item">
            <button type="button" class="btn btn-block btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                分词展示
            </button>
        </a>
        <a href="/ner/ner_demo" class="list-group-item">
            <button type="button" class="btn btn-block btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                NER展示
            </button>
        </a>
        <!--<a href="#" class="list-group-item">-->
            <!--<button type="button" class="btn btn-block btn-warning" aria-label="Left Align">-->
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</a>-->
        <!--<a href="#" class="list-group-item">Link</a>-->
        <!--<a href="#" class="list-group-item">Link</a>-->
        <!--<a href="#" class="list-group-item">Link</a>-->
        <!--<a href="#" class="list-group-item">Link</a>-->
        <!--<a href="#" class="list-group-item">Link</a>-->
    </div>
</div><!--/.sidebar-offcanvas-->