{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
<div class="container">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="container-fluid">
    <div id="parent">
</div>
	<div class="row-fluid">
		<div class="span12">
			<div>
				<p><font size="100">船帆有洞的个人主页</font></p>
				<h3>
					这是博主记录自己学习NLP的过程！任重道远！！但是冲鸭冲鸭！！！
				</h3>
			</div>
		</div>
	</div>
</div>
</div><!--/.col-xs-12.col-sm-9-->
{% endblock %}